@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *{
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  html {
    scroll-behavior: smooth;
  }
  
  body {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  body::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .nav-link {
    @apply text-gray-300 hover:text-white transition-colors px-3 py-2;
  }
}